<div class="card p-3 mb-4 shadow-sm">

  <h5 class="fw-semibold mb-3">Filtrar productos</h5>

  <div class="row g-3">
    <!-- Lo que he hecho aqui es cambiar las clases propuestas para los div que
    recogen los filtros por col-12 para que cojan todo el espacio disponible
    y se coloque cada uno de los filtros en una linea -->
    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        (input)="onNombreChange($event)">
    </div>

    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por categoría"
        (input)="onCategoriaChange($event)">
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="soloActivos"
          (change)="onActivoChange($event)">
        <label class="form-check-label" for="soloActivos">
          Solo activos
        </label>
      </div>
    </div>

  </div>

</div>